@import "global";
@import "mixins";
@import "colors";
@import "typography";
@import "icons";
@import "fonts";
@import "header";
@import "footer";


html {
    font-family: var(--ff-primary);
}

body {
    font-size: var(--fs-body);
}

h1 {
    font-family: var(--ff-primary);
    font-size: var(--fs-h1);
    color:  var(--clr-accent);
}



header {
    font-weight: bold;
    text-align: center;
    padding: 2rem 0;
}

.song-container__box {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.song-container__content {
    flex: 1 1 100%;
    margin: 5px;
    padding: 5px;
    text-align: center;
    background-color: #f5f5f5;
    // box-shadow: var(--bs);

    h2 {
        color:  var(--clr-accent);
    }

    p {
        padding: 1em;
    }

}

@media (min-width: 800px) {
    .song-container__content {
        flex: 1 1 30%;
        padding: 10px;
        text-align: center;
    }
    
    // .song-container__content * + * {
    //     margin-left: 1.5rem;
    // }
}

